/* CSS for Leaderboard styles */


/* Leaderboard styles */

.leaderboard-container {
    display: flex;
    justify-content: stretch;
    flex-wrap: wrap;
    width: 100%;
    min-width: 300px;
  }
  
  .podium-padding-wrapper {
    max-height: 230px;
    min-width: 230px;
    max-width: 530px;
    flex-grow: 1;
    position: relative;
    padding-bottom: calc(min(230px, 100%));
    margin: 0 calc(max(5px, min(7%, 20px)));
  }
  
  .podium-container {
    position: absolute;
    width: 100%;
    height: calc(min(230px, 100%));
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
  }
  
  .podium-dais {
    display: flex;
    align-content: flex-end;
    align-items: flex-end;
    margin-bottom: 15px;
  }
  
  .dais-user {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .dais-image-container {
    position: relative;
    top: 10px;
    width: 100%;
    max-width: 80px;
    padding-bottom: calc(min(80px, 100%));
  }
  
  .dais-image-lockup {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .profile-image {
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    margin: 0 15px;
    border-radius: 50%;
    border: 1px solid gray;
    background-color: lightgray;
    overflow: hidden;
  }
  
  .dais-image-label {
    width: 100%;
    height: 20px;
    font-size: 14px;
  }
  
  .dais-platform {
    background-color: rgb(90 186 233);
    padding: 10%;
    text-align: center;
    font-size: 3rem;
    color: #fff;
    margin: 0 calc(max(5px, 8%));
  }
  
  .table-container {
    min-width: 300px;
    max-width: 570px;
    flex-grow: 1;
    flex-shrink: 1;
  }
  
  .rank-header {
    background-color: var(--navigation-bgColor);
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .data,
  .data2 {
    font-size: 16px;
  }
  
  .data:first-child {
    font-size: 16px;
    font-weight: bold;
  }
  
  .data2:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  .my-rank {
    background-color: var(--primary);
  }
  
  .table-responsive td {
    border: 1px solid var(--navigation-bgColor) !important;
  }
  
  .table-responsive tr:hover {
    background-color: var(--primary) !important;
  }
  
  .fake-bullet {
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
  }