/* CSS for Modal styles */


/* Modal Styles */

.fresh-modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0 0 0); /* Fallback color */
    background-color: rgb(0 0 0 / 40%);
  }
  
  /* Modal Content/Box */
  .fresh-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }