/* @TODO how much of this styling is necessary? Move to index.css, remove unnecessary stuff from boilerplate. */

@media (min-width: 500px) {
	.pomodoro {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
}
/* Main section
------------------------------- */

@media (max-width: 500px) {
	.main {
		margin: 40px 0;
	}
}

.container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: flex-start;
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	padding: 5px;
}

/* Display */
.display {
	margin-bottom: 20px;
}

.time {
	font-size: 30px;
	font-weight: 400;
	color: white;
	display: block;
	text-align: left;
	margin-left: 26px;
	margin-top: 10px;
}

/* Time control */
.play,
.stop {
	background-color: #ccc;
}
.play {
	background-image: url("../../assets/play.svg");
}

.stop {
	background-image: url("../../assets/stop.svg");
}

/* Settings
------------------------------- */

.controls {
	padding: 2.5px 0;
}

.controlsLink a {
	color: white;
	text-decoration: none;
	font-size: 14px;
}
.controlsLink a:hover,
.controlsLink a:focus {
	text-decoration: underline;
}

.controlsCheck {
	margin-left: auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

@media (max-width: 500px) {
	.controlsCheck {
		width: 100%;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		margin: 20px 0;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
}

.check {
	display: inline-block;
	margin: 0 10px;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
	line-height: 40px;
}

@media (max-width: 500px) {
	.check {
		width: 100%;
		margin: 10px;
	}
}

.checkTitle {
	color: white;
	display: inline-block;
	margin: 0 5px;
}

/* Checkbox style and UI feedback */
.check input[type="checkbox"] {
	display: none;
}

.check label {
	border: 1px solid #ccc;
	height: 15px;
	width: 15px;
	margin: 0;
	padding: 0;
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	position: relative;
}

.check label:hover {
	cursor: pointer;
}

.check input[type="checkbox"]:checked + label {
	border: 1px solid rgb(220, 66, 45);
}

.check input[type="checkbox"]:checked + label:after {
	background-color: rgb(220, 66, 45);
	position: absolute;
	display: block;
	bottom: 4px;
	left: 1px;
	width: 10px;
	height: 5px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	content: "";
}

.check input[type="checkbox"]:checked + label:before {
	background-color: rgb(220, 66, 45);
	position: absolute;
	display: block;
	bottom: 0px;
	right: -1px;
	width: 5px;
	height: 18px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	content: "";
}
