body {
	margin: 0;
	padding: 0;
	font-family: "Futura Std Book", sans-serif;
	font-size: 18px;
	color: rgb(36, 35, 35);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: rgb(255, 255, 254);
}

/* global mobile style media query, primarily for navigation layout */

.sticky-logout {
  position: fixed;
  top: 36px;
  right: 15px;
  cursor: pointer;
  font-size: 36px;
  z-index: 10;
}

/* Typography */

h1 {
  color: rgb(36, 35, 35);
  margin-top: 36px;
  font-weight: 400;
  font-size: 36px;
}
select.form-control,
textarea.form-control,
input.form-control {
  font-size: 16px;
}
input[type="file"] {
  width: 100%;
}

/* mobile/tablet styling */

@media screen and (max-width: 768px) {
  html {
    padding-top: -74px;
  }
   h1 {
      color: rgb(36, 35, 35);
      margin-top: 36px;
      font-weight: 400;
      font-size: 9vw;
    }
    header span{
      font-size: 3vw;
    }
  .tabPanelCont{
    margin: -8.5vw;
    margin-bottom: 6vh;
  }
  .root-padding {
    padding-left: 24px;
    padding-right: 16px;
    margin-bottom: 12vh;
  }
  .sticky-nav {
    position: fixed;
    bottom: 0px;
    visibility: visible;
    width: 100%;
    padding-left: -24px;
  }
  .sticky-nav button {
    min-width: 0;
  }
  .sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    padding-top: 40px;
    background-color: rgb(37, 38, 39);
    -webkit-transform: translate3d(-100%, 0px, 0px);
    transform: translate3d(-100%, 0px, 0px);
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    visibility: hidden;
  }
  .sticky-chat {
    visibility: hidden;
  }

  .notes-overflow {
    overflow: scroll;
    max-height: 180px;
  }
}

/* Global tablet+ media query */

@media screen and (min-width: 768px) {
  html {
    padding-top: -74px;
  }
  .root-padding {
    padding-left: 244px;
    padding-right: 16px;
  }
  .sticky-nav {
    visibility: hidden;
  }
  .sidenav {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 232px;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgb(37, 38, 39);
    padding-top: 40px;
    color: rgb(242, 243, 243);
    border: 1px solid grey;
    list-style: none;
    transition: all 0.5s;
  }

  .sticky-chat {
    position: fixed;
    bottom: 90px;
    right: 15px;
    visibility: visible;
  }
  .notes-overflow {
    overflow: scroll;
    max-height: 610px;
  }
}

/* Colors */

.red-white {
	background-color: rgb(220, 66, 45);
	color: rgb(255, 255, 254);
}

.red-black {
	background-color: rgb(220, 66, 45);
	color: rgb(52, 58, 64);
}

.blue-white {
	background-color: rgb(0, 170, 212);
	color: rgb(255, 255, 254);
}

.blue-black {
	background-color: rgb(0, 170, 212);
	color: rgb(52, 58, 64);
}

/* Overflow classes */

.overflow {
	overflow: scroll;
	max-height: 80vh;
}

.small-overflow {
  overflow: visible;
  max-height: 200px;
}

.visible-overflow {
	overflow: visible;
}

/* Navigation and fixed elements styles */

.sidenav a {
	color: rgb(79, 101, 116);
	transition: 0.3s;
}

.sidenav a:hover {
	text-decoration: none;
	color: rgb(79, 101, 116);
	background-color: rgb(160, 160, 160);
}

.sidenav a:enabled {
	text-decoration: none;
	color: rgb(79, 101, 116);
}

.sidenav h4 {
	padding-left: 20px;
	color: rgb(37, 38, 39);
}

.sidenav p {
	margin-bottom: 0px;
}

.top-nav {
	display: flex;
	justify-content: space-between;
	background-color: rgb(37, 38, 39);
	height: 55px;
}

.sticky-btn {
	position: fixed;
	bottom: 26px;
	right: 15px;
	cursor: pointer;
}

.text-center {
	text-align: center;
}

/* Flex shortcut classes */

.flex {
	display: flex;
}

.flex-down {
	display: flex;
	flex-direction: column;
}

.flex-between {
	display: flex;
	justify-content: space-between;
}

.flex-center {
	display: flex;
	justify-content: center;
	text-align: "center";
}

.flex-apart {
	display: flex;
	justify-content: space-between;
}

.flex-evenly {
	display: flex;
	justify-content: space-evenly;
}

.flex-columns {
	display: flex;
	flex-wrap: wrap;
	/* justify-content: space-between; */
}

/* Visual card component styles */

.small-block {
	padding: 8px;
	border-radius: 3px;
	background: white;
	margin: 8px;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px 0px;
	/* flex-grow: 1;  */
	/* flex-shrink: 1; */
	display: flex;
	align-items: flex-start;
	align-self: flex-start;
}

.block {
	padding: 8px;
	border-radius: 6px;
	background: white;
	margin: 8px;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px 0px;
}

.highlight-block {
  padding: 8px;
  border-radius: 3px;
  background: #339c51;
  color: white;
  margin: 8px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px 0px;
}

.exp-card {
  padding: 8px;
  border-radius: 3px;
  background: #f1efef;
  margin: 8px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px 0px;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-grow: 1;
  max-width: 350px;
}

.exp-card:hover {
	background: #30944c;
	color: white;
}

.exp-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 5px;
}

@media screen and (min-width: 30em) {
	.context-cards {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		padding: 5px;
	}

	.context-cards-start {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		padding: 5px;
	}
	.context-card {
		flex: 0 1 calc(50% - 1em);
		margin: 5px;
	}
}

@media screen and (min-width: 60em) {
	.context-card {
		flex: 0 1 calc(33% - 1em);
		margin: 5px;
	}
}

.context-cards-start :hover {
	background-color: rgb(233, 232, 232);
}

/* Modal Styles */

.fresh-modal {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */
.fresh-modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
}

/* Leaderboard styles */

.rank-header {
	color: rgb(37, 38, 39);
	background-color: #eee;
	font-size: 16px;
	font-weight: bold;
}

.data:first-child {
	font-size: 16px;
	font-weight: bold;
}

.data, .data2 {
	font-size: 16px;
}

.data2:hover {
	text-decoration: underline;
	cursor: pointer;
}

.my-rank {
	background-color: rgb(0, 170, 212);
}

.my-rank:hover {
	background-color: rgb(0, 185, 231)!important;
}

.fake-bullet {
	display: list-item;
	list-style-type: disc;
	list-style-position: inside;
}

/* button styles */



.LoaderButton .spinning.glyphicon {
	margin-right: 7px;
	top: 2px;
	animation: spin 1s infinite linear;
}
@keyframes spin {
	from {
		transform: scale(1) rotate(0deg);
	}
	to {
		transform: scale(1) rotate(360deg);
	}
}

.btn {
  border: 0;
  background: #339c51;
  width:180px;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 1000;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  max-height: 30px;
  margin-right: 10px;
}

.btn:hover {
  background: #26773d;
  color: white;
}

.btn:active,
.btn:focus {
  outline: 0;
  background: #247039;
  color: white;
}

.btn-cancel{
  background: #f44336;
  border: 0;
  width:180px;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 1000;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  max-height: 30px;
  margin-right: 10px;
  
}

.btn-cancel:hover {
  background: #af3b32;
  color: white;
}

.btn:active,
.btn:focus {
  outline: 0;
  background: #af3b32;
  color: white;
}

.btnIcon {
	border: 0;
	/* background-color: transparent; */
	background-repeat: no-repeat;
	background-position: center;
	width: 50px;
	height: 50px;
	background-size: 40px;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.btnIcon:hover {
	opacity: 0.8;
}

.btnIcon:active,
.btnIcon:focus {
	outline: 0;
	opacity: 0.5;
}

.btn-outline {
  background: none;
  color: #30944c;
  border: 2px solid #30944c;
}

.btn-outline:hover {
  background: #30944c;
  border: 2px solid #30944c;
}

/* Form styles */

.NotFound {
	padding-top: 100px;
	text-align: center;
}



.BillingForm .card-field {
	margin-bottom: 15px;
	background-color: white;
	padding: 11px 16px;
	border-radius: 6px;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	line-height: 1.3333333;
}

.BillingForm .card-field.StripeElement--focus {
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
		0 0 8px rgba(102, 175, 233, 0.6);
	border-color: #66afe9;
}

.BillingForm .form-group .form-group-lg{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.ConfirmPurchaseForm{
  display: flex;
  align-items: flex-end;
  gap:20px;
}

.ConfirmPurchaseForm > button{
  height:56px;
  margin-bottom: 60px;
  border-radius: 6px;
  background-color: #f44336;
  font-size: 18px;
  
}

@media all and (min-width: 480px) {
  .Form {
    padding: 60px 0;
    max-width: 320px;
    margin: 0 auto;
  }
}
.Form .LoaderButton:last-child {
	margin-top: 15px;
}

.Form form {
	margin: 0 auto;
	max-width: 320px;
}

.Form .success {
	max-width: 400px;
	margin: 0 auto;
	text-align: center;
}

.Form .success .glyphicon {
	color: grey;
	font-size: 30px;
	margin-bottom: 30px;
}

.Form form span.help-block {
	font-size: 14px;
	padding-bottom: 10px;
	color: #999;
}

/* CSS Below is for the spinning animation in the loading screen */

.ipl-progress-indicator.available {
	opacity: 0;
}

.ipl-progress-indicator {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 10%;
	background-color: #fff;
	opacity: 1;
	pointer-events: none;
	-webkit-transition: opacity cubic-bezier(0.4, 0, 0.2, 1) 436ms;
	-moz-transition: opacity cubic-bezier(0.4, 0, 0.2, 1) 436ms;
	transition: opacity cubic-bezier(0.4, 0, 0.2, 1) 436ms;
	z-index: 9999;
}

.ipl-progress-indicator p {
	font-size: 48px;
}
.lds-dual-ring {
	display: flex;
	flex-direction: column;
	align-content: center;
	align-self: center;
	justify-content: center;
	margin-top: 1%;
}
.lds-dual-ring:after {
	content: " ";
	display: block;
	width: 92px;
	height: 92px;
	margin: 1px;
	border-radius: 50%;
	border: 7px solid rgb(17, 16, 16);
	border-color: rgb(17, 16, 16) transparent rgb(17, 16, 16) transparent;
	animation: lds-dual-ring 1.2s linear infinite;
}

@-webkit-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@-moz-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* Arena Dashboard */

.sprints-top {
	height: 100vh;
}
.sprints-container {
	display: flex;
	flex-direction: column;
	height: 80vh;
	visibility: visible;
	transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
}

.sprints-scroller {
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
}

/* Messaging styles */

* {
	box-sizing: border-box;
}

.messaging {
	height: 100vh;
}
.messaging-container {
	display: flex;
	flex-direction: column;
	height: 80vh;
	background: white;
	border-radius: 16px;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px 0px;
	border-color: rgb(17, 16, 16);
	visibility: visible;
	transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
}

.messages-scroller {
	display: flex;
	flex-direction: column;
	padding: 16px;
	overflow-y: scroll;
}

.message {
  align-self: flex-start;
  margin-top: 4px;
  padding: 8px 12px;
  max-width: 280px;
  background: #339c51;
  border-radius: 16px;
  font-size: 14px;
  color: rgb(255, 255, 254);
}

.message.league {
	align-self: flex-start;
	margin-top: 4px;
	padding: 8px 12px;
	max-width: 280px;
	background: black;
	border-radius: 16px;
	font-size: 14px;
	color: rgb(255, 255, 254);
}

.message.me {
	align-self: flex-end;
	background: rgb(220, 66, 45);
	color: white;
}

.chat-bar {
	height: 10vh;
	border-top: 1px solid #ddd;
}

.chat-bar form {
	height: 100%;
	padding: 16px;
}

.chat-bar form input {
	width: 100%;
	height: 32px;
	padding: 8px 16px;
	border: 1px solid #ddd;
	border-radius: 16px;
	outline: none;
}

.chat-bar form input:focus {
	border: 1px solid #f19e38;
}

/* form styles */
.planning-forms {
	min-height: 60px;
	overflow-y: auto;
	word-wrap: break-word;
	width: 100%;
}
