:root {
  --backgroundColor: rgb(0 0 0);
  --backgroundColor-light: rgb(255 255 255);
  --color: rgb(242 243 243);
  --color-light: rgb(34 34 34);
  --navigation-bgColor: rgb(34 34 34);
  --navigation-color: rgb(242 243 243);
  --primary: #d95b35;
  --secondary: #de4665;
  --tertiary: #c84994;
}

#root {
  min-height: 100vh;
}

html {
  font-size: 14px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Futura Std Book", sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dropdown-menu {
  left: unset;
  right: 0;
  background: transparent;
}

.dropdown-menu > div {
  border-radius: 6px;
  overflow: hidden;
}

/* global mobile style media query, primarily for navigation layout */

.sticky-logout {
  position: fixed;
  bottom: 24px;
  left: calc(max(210px, 20vw - 60px));
  opacity: 0.6;
  cursor: pointer;
  font-size: 32px;
  z-index: 999;
  background-color: transparent;
  color: white !important;
  border-radius: 100px;
  padding: 10px 8px 0px 14px;
  line-height: 28px;
}

section {
  margin-bottom: 16px;
}

.stats-container.flex {
  display: flex;
  justify-content: flex-start !important;
  margin: 8px -8px;
  flex-wrap: wrap;
}

.experience-container.flex {
  margin: 8px -8px;
}

/* Typography */

h1 {
  font-size: 32px;
  margin-top: 8px;
  margin-bottom: 8px;
}

h2 {
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0;
  font-size: 24px;
  font-weight: 900;
  text-shadow: 0.5px 0 0 white;
  letter-spacing: 0.5px;
}

h3 {
  margin: 0;
  font-weight: 600;
  text-shadow: 0.5px 0 0;
  letter-spacing: 0.5px;
  font-size: 18px;
}

h5 {
  padding-top: 8px;
  padding-bottom: 8px;
  color: var(--tertiary);
  text-transform: uppercase;
  font-weight: 600;
  text-shadow: 0.5px 0 0;
  letter-spacing: 3px;
  margin: 16px 0;
}

select.form-control,
textarea.form-control,
input.form-control {
  font-size: 16px;
  background-color: var(--navigation-bgColor);
}

input[type="file"] {
  width: 100%;
}

/* mobile/tablet styling */

@media screen and (max-width: 768px) {
  html {
    padding-top: -74px;
  }

  h1 {
    font-weight: 400;
    font-size: 9vw;
  }

  header span {
    font-size: 3vw;
  }

  .tabPanelCont {
    margin: -8.5vw;
    margin-bottom: 6vh;
  }

  .root-padding {
    padding: 8px 16px 12vh;
  }

  .sticky-nav {
    position: fixed;
    bottom: 0;
    visibility: visible;
    width: 100%;
    padding-left: -24px;
  }

  .sticky-audio {
    visibility: hidden;
  }

  .sticky-nav button {
    min-width: 0;
  }

  .sidenav {
    height: 100vh;
    position: fixed;
    min-width: 270px;
    z-index: 1;
    padding-top: 24px;
    background-color: var(--navigation-bgCol);
    transform: translate3d(-100%, 0, 0);
    transition: all 0.5s ease 0s;
    visibility: hidden;
  }

  .sticky-chat {
    visibility: hidden;
  }

  .notes-overflow {
    overflow: scroll;
    max-height: 180px;
  }

  .sticky-logout {
    bottom: 50px;
    left: calc(100vw - 52px);
  }


  .btn {
    min-width: 80px !important;
  }

  .options .btn {
    min-width: 100%;
    width: 100%;
  }
}

/* Global tablet+ media query */

@media screen and (min-width: 768px) {
  html {
    padding-top: -74px;
  }

  .root-padding {
    padding: 24px 32px 24px 302px;
  }

  .sticky-nav {
    visibility: hidden;
  }

  .sticky-audio {
    z-index: 1;
    position: fixed;
    bottom: 0;
    visibility: visible;
    width: calc(min(80vw, 100vw - 270px));
    left: calc(max(20vw, 270px));
  }

  .sidenav {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 20vw;
    min-width: 270px;
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 2; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: var(--navigation-bgColor);
    padding-top: 24px;
    padding-bottom: 88px;
    color: var(--navigation-color);
    list-style: none;
    transition: all 0.5s;
  }

  .sidenav-dropdown {
    display: flex;
    align-items: center;
  }

  .dropdown-caret-up,
  .dropdown-caret-down {
    content: " ";
    color: #fff;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    margin-top: 24px;
    cursor:pointer;
  }
  .dropdown-caret-down {
    border-top: 6px solid;
  }

  .dropdown-caret-up {
    border-bottom: 6px solid;
  }

  .sticky-chat {
    /* position: fixed; */
    /* bottom: 90px;
    right: 15px; */
    visibility: visible;
    background-color: white;
  }

  .notes-overflow {
    overflow: scroll;
    max-height: 610px;
  }
}

#animation-container {
  position: relative;
}

#animation-container canvas {
  position: fixed;
  border: 1px solid transparent;
}

#overlay  {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -200px; 
}

/* Colors */

.red-white {
  background-color: rgb(220 66 45);
  color: rgb(255 255 254);
}

.red-black {
  background-color: rgb(220 66 45);
  color: rgb(52 58 64);
}

.blue-white {
  background-color: rgb(0 170 212);
  color: rgb(255 255 254);
}

.blue-black {
  background-color: rgb(0 170 212);
  color: rgb(52 58 64);
}

/* Overflow classes */

.overflow {
  overflow: scroll;
  max-height: 80vh;
}

.small-overflow {
  overflow: scroll;
  height: fit-content;
  max-height: 300px;
}

.visible-overflow {
  overflow: visible;
}

/* Navigation and fixed elements styles */

.sidenav a {
  color: var(--navigation-color);
  transition: 0.3s;
  opacity: 0.6;
}

.sidenav a:hover {
  text-decoration: none;
  opacity: 1;
}

.sidenav a:enabled {
  text-decoration: none;
  opacity: 1;
}

.sidenav h4 {
  padding-left: 20px;
  color: var(--navigation-bgColor);
}

.sidenav p {
  margin-bottom: 0;
}

.landing-page-nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--navigation-bgColor);
  height: 55px;
}

.sticky-btn {
  position: fixed;
  bottom: 72px;
  right: 8px;
  cursor: pointer;
}

.text-center {
  text-align: center;
}

/* Flex shortcut classes */

.flex {
  display: flex;
  align-items: center;
}

.flex-down {
  display: flex;
  flex-direction: column;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  justify-content: center;
  text-align: "center";
}

.flex-apart {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-evenly {
  display: flex;
  justify-content: space-evenly;
}

.flex-columns {
  display: flex;
  flex-wrap: wrap;

  /* justify-content: space-between; */
}

/* Visual card component styles */

.small-block {
  padding: 8px;
  border-radius: 3px;
  background: white;
  margin: 8px;
  box-shadow: rgb(0 0 0 / 30%) 0 1px 4px 0;

  /* flex-grow: 1;  */

  /* flex-shrink: 1; */
  display: flex;
  align-items: flex-start;
  align-self: flex-start;
}

.block {
  padding: 14px;
  border-radius: 6px;
  background: var(--navigation-bgColor);
  margin: 8px;
  box-shadow: rgb(0 0 0 / 30%) 0 1px 4px 0;
  font-size: 16px;
  font-weight: 100;
  flex-grow: 1;
  color: var(--navigation-color);
  letter-spacing: 0.5px;
}

.accordion__button {
  background-color: transparent !important;
  color: var(--tertiary) !important;
  text-transform: uppercase !important;
  font-weight: 600;
  text-shadow: 0.5px 0 0;
  letter-spacing: 3px;
  font-size: 16px;
}

.block p {
  padding-top: 4px;
  padding-bottom: 4px;
}

.stats-block {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 125px;
  max-width: calc(min(200px, 33% - 14px));
  align-items: stretch;
  justify-content: space-between;
}

.highlight-block {
  font-size: 16px;
  padding: 16px;
  border-radius: 3px;
  background: linear-gradient(70deg, var(--primary), var(--secondary));
  color: white;
  margin: 8px;
  box-shadow: rgb(0 0 0 / 30%) 0 1px 4px 0;
}

.exp-card {
  padding: 8px;
  background: var(--navigation-bgColor);
  margin: 8px;
  box-shadow: rgb(0 0 0 / 30%) 0 1px 4px 0;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-grow: 1;
  max-width: calc(min(33% - 14px, 350px));
  min-width: 250px;
  border-radius: 8px;
}

.exp-card h3 {
  margin-bottom: 16px;
  margin-top: 8px;
}

.exp-card p {
  font-weight: 200;
  font-size: 16px;
  transition: transform 0.5s;
}

.exp-card:hover {
  background: linear-gradient(70deg, var(--primary), var(--secondary));
  color: white;
}

.exp-cards {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 16px);
  justify-content: space-betwen;
  padding: 5px;
  margin: 0 -8px;
}

.pell-actionbar {
  background-color: orange !important;
  color: white;
}

.pell-content {
  background-color: var(--navigation-bgColor);
  box-sizing: border-box;
  height: 75vh;
  outline: 0;
  overflow-y: auto;
  padding: 10px;
}

.pell-button {
  color: black;
}

@media screen and (min-width: 30em) {
  .context-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 8px -8px 24px;
  }

  .context-cards-start {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 5px;
  }

  .context-card {
    flex: 1 1 calc(50% - 16px);
    margin: 8px;
    max-width: calc(50% - 16px);
  }
}

@media screen and (min-width: 60em) {
  .context-card {
    flex: 1 1 calc(33% - 16px);
    max-width: calc(33% - 16px);
    min-width: calc(33% - 16px);
    margin: 8px;
  }
}

@media screen and (max-width: 768px) {
  .context-cards {
    padding: 0;
    margin: 8px -8px 24px;
  }
}

.ipl-progress-indicator p {
  font-size: 48px;
}

.exp-card > p:hover {
  font-weight: bold;
  transform: scale(1.1);
}

.exp-card > p:first-child:hover {
  font-weight: unset;
  transform: unset;
}

/* Modal Styles */

.fresh-modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0 0 0); /* Fallback color */
  background-color: rgb(0 0 0 / 40%);
}

/* Modal Content/Box */
.fresh-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* Leaderboard styles */

.leaderboard-container {
  display: flex;
  justify-content: stretch;
  flex-wrap: wrap;
  width: 100%;
  min-width: 300px;
}

.podium-padding-wrapper {
  max-height: 230px;
  min-width: 230px;
  max-width: 530px;
  flex-grow: 1;
  position: relative;
  padding-bottom: calc(min(230px, 100%));
  margin: 0 calc(max(5px, min(7%, 20px)));
}

.podium-container {
  position: absolute;
  width: 100%;
  height: calc(min(230px, 100%));
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
}

.podium-dais {
  display: flex;
  align-content: flex-end;
  align-items: flex-end;
  margin-bottom: 15px;
}

.dais-user {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dais-image-container {
  position: relative;
  top: 10px;
  width: 100%;
  max-width: 80px;
  padding-bottom: calc(min(80px, 100%));
}

.dais-image-lockup {
  position: absolute;
  width: 100%;
  height: 100%;
}

.profile-image {
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  margin: 0 15px;
  border-radius: 50%;
  border: 1px solid gray;
  background-color: lightgray;
  overflow: hidden;
}

.dais-image-label {
  width: 100%;
  height: 20px;
  font-size: 14px;
}

.dais-platform {
  background-color: rgb(90 186 233);
  padding: 10%;
  text-align: center;
  font-size: 3rem;
  color: #fff;
  margin: 0 calc(max(5px, 8%));
}

.table-container {
  min-width: 300px;
  max-width: 570px;
  flex-grow: 1;
  flex-shrink: 1;
}

.rank-header {
  background-color: var(--navigation-bgColor);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.data,
.data2 {
  font-size: 16px;
}

.data:first-child {
  font-size: 16px;
  font-weight: bold;
}

.data2:hover {
  text-decoration: underline;
  cursor: pointer;
}

.my-rank {
  background-color: var(--primary);
}

.table-responsive td {
  border: 1px solid var(--navigation-bgColor) !important;
}

.table-responsive tr:hover {
  background-color: var(--primary) !important;
}

.fake-bullet {
  display: list-item;
  list-style-type: disc;
  list-style-position: inside;
}

/* button styles */

.LoaderButton .spinning,
.loading-icon.spinning {
  margin-right: 7px;
  top: 2px;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }

  to {
    transform: scale(1) rotate(360deg);
  }
}

.btn {
  border: 0;
  background: linear-gradient(70deg, var(--primary), var(--secondary));
  min-width: 180px;
  color: #fff;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-weight: 600;
  font-size: 16px;
  transition: background 0.3s;
  margin-right: 10px;
}

.block .btn {
  text-transform: uppercase;
}

.options {
  padding: 0 24px;
  margin-top: -16px;
  max-width: calc(100vw - 64px);
  overflow: scroll;
}

.options-buttons {
  display: flex;
  flex-wrap: wrap;
  padding-top: 8px;
}

.options .btn {
  background: #555;
  min-width: 80px;
  padding: 12px 24px;
  border-radius: 40px;
  margin-bottom: 8px;
  margin-right: 8px;
}

.options .btn-default:hover .options .btn-default:active {
  background: #777 !important;
}

details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
  cursor: pointer;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}

.btn:hover {
  background: linear-gradient(70deg, #db6e4d, #e0526e);
  color: white;
}

.btn:active,
.btn:focus {
  outline: 0;
  background: linear-gradient(70deg, #db6e4d, #e0526e);
  color: white;
}

.options .btn:hover,
.options .btn:active {
  background: #777 !important;
}

.btn-cancel {
  background: #f44336;
  border: 0;
  width: 180px;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 1000;
  transition: background 0.3s;
  max-height: 30px;
  margin-right: 10px;
}

.btn-cancel:hover {
  background: #af3b32;
  color: white;
}

.btn-cancel:active,
.btn-cancel:focus {
  outline: 0;
  background: #af3b32;
  color: white;
}

.btnIcon {
  border: 0;  
  background: linear-gradient(70deg, #db6e4d, #e0526e);
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
  background-size: 40px;
  transition: opacity 0.3s;
}

.btnIcon:hover {
  opacity: 0.8;
}

.btnIcon:active,
.btnIcon:focus {
  outline: 0;
  opacity: 0.5;
}

.btn-outline {
  background: none;
  color: #30944c;
  border: 2px solid #30944c;
}

.btn-outline:hover {
  background: linear-gradient(70deg, #db6e4d, #e0526e);
}

/* Form styles */

.NotFound {
  padding-top: 100px;
  text-align: center;
}

.BillingForm .card-field {
  margin-bottom: 15px;
  background-color: white;
  padding: 11px 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 7.5%);
  line-height: 1.3333;
}

.BillingForm .card-field.StripeElement--focus {
  box-shadow:
    inset 0 1px 1px rgb(0 0 0 / 7.5%),
    0 0 8px rgb(102 175 233 / 60%);
  border-color: #66afe9;
}

.BillingForm .form-group .form-group-lg {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.ConfirmPurchaseForm {
  display: flex;
  align-items: flex-end;
  gap: 20px;
}

.ConfirmPurchaseForm > button {
  height: 56px;
  margin-bottom: 60px;
  border-radius: 6px;
  background-color: #f44336;
  font-size: 18px;
}

@media all and (min-width: 480px) {
  .Form {
    padding: 60px 0;
    max-width: 320px;
    margin: 0 auto;
  }
}

.Form .LoaderButton:last-child {
  margin-top: 15px;
}

.Form form {
  margin: 0 auto;
  max-width: 320px;
}

.Form .success {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.Form .success .glyphicon {
  color: grey;
  font-size: 30px;
  margin-bottom: 30px;
}

.Form form span.help-block {
  font-size: 14px;
  padding-bottom: 10px;
  color: #999;
}

/* CSS Below is for the spinning animation in the loading screen */

.ipl-progress-indicator.available {
  opacity: 0;
}

.ipl-progress-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  opacity: 1;
  pointer-events: none;
  transition: opacity cubic-bezier(0.4, 0, 0.2, 1) 436ms;
  z-index: 9999;
}

.lds-dual-ring {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-self: center;
  justify-content: center;
  margin-top: 1%;
}

.lds-dual-ring::after {
  content: " ";
  display: block;
  width: 92px;
  height: 92px;
  margin: 1px;
  border-radius: 50%;
  border: 7px solid var(--color);
  border-color: var(--color) transparent var(--color) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Arena Dashboard */

.sprints-top {
  height: 100vh;
}

.sprints-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  visibility: visible;
  transition: all 0.5s ease 0s;
}

.sprints-scroller {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

/* Messaging styles */

* {
  box-sizing: border-box;
}

.messaging {
  height: 100vh;
}

.messaging-container {
  display: flex;
  flex-direction: column;
  height: 80vh;
  background: white;
  border-radius: 16px;
  box-shadow: rgb(0 0 0 / 30%) 0 1px 4px 0;
  border-color: rgb(17 16 16);
  visibility: visible;
  transition: all 0.5s ease 0s;
}

.messages-scroller {
  display: flex;
  flex-direction: column;
  padding: 16px;
  overflow-y: scroll;
}

.message {
  align-self: flex-start;
  margin-top: 4px;
  padding: 8px 12px;
  max-width: 280px;
  background: #339c51;
  border-radius: 16px;
  font-size: 14px;
  color: rgb(255 255 254);
}

.message.league {
  align-self: flex-start;
  margin-top: 4px;
  padding: 8px 12px;
  max-width: 280px;
  background: black;
  border-radius: 16px;
  font-size: 14px;
  color: rgb(255 255 254);
}

.message.me {
  align-self: flex-end;
  background: rgb(220 66 45);
  color: white;
}

.chat-bar {
  height: 10vh;
  border-top: 1px solid #ddd;
}

.chat-bar form {
  height: 100%;
  padding: 16px;
}

.chat-bar form input {
  width: 100%;
  height: 32px;
  padding: 8px 16px;
  border: 1px solid #ddd;
  border-radius: 16px;
  outline: none;
}

.chat-bar form input:focus {
  border: 1px solid #f19e38;
}

/* form styles */
.planning-forms {
  min-height: 60px;
  overflow-y: auto;
  word-wrap: break-word;
  width: 100%;
  margin-right: 16px;
  background-color: var(--navigation-bgColor);
}

.input-group {
  margin-top: 16px;
  width: 100%;
}

.input-group h3 {
  padding: 8px 0;
}

.input-group:last-child {
  margin-bottom: 16px;
}