name: Pareto CI
on: 
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  run-test-suites:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@v3

      - name: Use pnpm package manager
        uses: pnpm/action-setup@v2.0.1
        with:
          version: 6.0.2

      - name: Install Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with: 
          node-version: 16   

      - name: Get pnpm store directory
        id: pnpm-cache
        run: |
          echo "::set-output name=pnpm_cache_dir::$(pnpm store path)"

      - uses: actions/cache@v3
        name: Setup pnpm cache
        with:
          path: ${{ steps.pnpm-cache.outputs.pnpm_cache_dir }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies   
        run: pnpm install

      - name: Run unit tests
        run: pnpm test:unit

      - name: Launch server and run integration tests
        run: |
          pnpm run start &
          sleep 16 &&
          curl http://localhost:3000 &&
          pnpm test:integration
